.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background: #d6a591;
  gap: 40px;
}
.footer-p1 {
  font-size: 24px;
  font-family: fira sans;
  color: #ffeae2;
  margin-top: 120px;
  margin-left: 320px;
}
.footer-h2 {
  color: #ffff;
  font-size: 36px;
  font-family: fira sans;
  max-width: 400px;
  margin-top: 120px;
  margin-left: 60px;
}
.footer-p2 {
  color: #f4d4c7;
  font-size: 18px;
  font-family: fira sans;
  margin-left: 320px;
  margin-top: 180px;
  margin-bottom: 60px;
}
@media (max-width: 1240px) {
  .footer-p1 {
    font-size: 20px;
    font-family: fira sans;
    color: #ffeae2;
    margin-top: 120px;
    margin-left: 200px;
  }
  .footer-h2 {
    color: #ffff;
    font-size: 24px;
    font-family: fira sans;
    margin-top: 120px;
    margin-left: 40px;
  }
  .footer-p2 {
    color: #f4d4c7;
    font-size: 16px;
    font-family: fira sans;
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  .footer-p1 {
    font-size: 18px;
    font-family: fira sans;
    color: #ffeae2;
    margin-top: 120px;
    margin-left: 100px;
  }
  .footer-h2 {
    color: #ffff;
    font-size: 24px;
    margin-top: 120px;
    margin-left: 20px;
  }
  .footer-p2 {
    color: #f4d4c7;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .footer-h2 {
    font-size: 20px;
    margin-top: 60px;
    margin-left: 100px;
    line-height: 40px;
  }
  .footer-p1 {
    max-width: 400px;
  }
}
